img {
  height: 21rem;
}

.content {
  padding: 0 10px;

  .sentence-container {
    margin: 16px 0 0 0;
    font-family: bold;

    .title {
      font-size: 48px;
      font-family: 'Roboto';
    }

    .sentence {
      margin-left: 48px;
      font-size: 36px;
      font-family: 'Roboto';
    }
  }

  .actions-container {
    button {
      margin: 0 10px;
    }
  }
}
